.content-area{
    margin: 30px;
    font-size: 1vw;
}
.cont-data{
    display: flex;
}
.cont-data p{
    width: 200px;
    text-align: center;
    border: 2px solid rgb(177, 176, 176);
    border-radius: 11px;
    background-color: rgb(236, 234, 234);
}
.text-cont{
    margin: 15px  0px 0px 10px;
    /* font-size: 1vw; */
}